<main>
  <div class="container">
    <div class="container__info container__table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <caption>Instrucciones</caption>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Instructions Column -->
        <ng-container matColumnDef="instructions">
          <th mat-header-cell *matHeaderCellDef> Instructions </th>
          <td mat-cell *matCellDef="let element"> {{element.instructions}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</main>
