<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a class="options" mat-list-item [routerLink]="['/home']" routerLinkActive="active" >Inicio</a>
      <a class="options" mat-list-item [routerLink]="['/info']" routerLinkActive="active" [disabled]="!showEvent">Información</a>
      <a class="options" mat-list-item [routerLink]="['/instructions']" routerLinkActive="active" [disabled]="!showEvent">Instrucciones</a>
      <a class="options" mat-list-item [routerLink]="['/memory']" routerLinkActive="active" [disabled]="!showEvent">Memoria</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="title-nav">ChMaquina</span>
      <header class="header">
        <button mat-raised-button class="button-nav" (click)="toggleEvent($event)"> {{ btnMessage }} </button>
        <button mat-raised-button class="button-nav" (click)="runEvent($event)" [disabled]="!enableButtons">Ejecutar programa</button>
        <button mat-raised-button class="button-nav" (click)="runSteptoStep()" [disabled]="!enableButtons">Paso a Paso</button>
      </header>
    </mat-toolbar>
    <!-- Add Content Here -->
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
