<main>
  <div class="container">
    <div class="container__info container__table">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <caption>Information</caption>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> PROGRAMA </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

         <!-- amount Inst Column -->
         <ng-container matColumnDef="amountInst">
          <th mat-header-cell *matHeaderCellDef> >= INS </th>
          <td mat-cell *matCellDef="let element"> {{element.amountInst}} </td>
        </ng-container>

         <!-- ipMemory Column -->
         <ng-container matColumnDef="ipMemory">
          <th mat-header-cell *matHeaderCellDef> RB </th>
          <td mat-cell *matCellDef="let element"> {{element.ipMemory}} </td>
        </ng-container>

         <!-- fpMemory Column -->
         <ng-container matColumnDef="fpMemory">
          <th mat-header-cell *matHeaderCellDef> RLC </th>
          <td mat-cell *matCellDef="let element"> {{element.fpMemory}} </td>
        </ng-container>

         <!-- fpvMemory Column -->
         <ng-container matColumnDef="fpvMemory">
          <th mat-header-cell *matHeaderCellDef> RLP </th>
          <td mat-cell *matCellDef="let element"> {{element.fpvMemory}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <div class="container__variables container__table">
      <table mat-table [dataSource]="dataVar" class="mat-elevation-z8">
        <caption>Variables</caption>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsVar"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsVar;"></tr>
      </table>
    </div>
    <div class="container__tags container__table">
      <table mat-table [dataSource]="dataTag" class="mat-elevation-z8">
        <caption>Tags</caption>
        <!-- Id Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

         <!-- Name Column -->
         <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Value Column -->
        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef> Value </th>
          <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsTag"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsTag;"></tr>
      </table>
    </div>
  </div>
</main>
