<main>
  <div class="container">
    <div class="inputs">
      <div class="inputs__div">
        <mat-form-field>
          <mat-label>Kernel</mat-label>
            <input matInput type="number" placeholder="Kernel" disabled>
        </mat-form-field>
      </div>
      <div class="inputs__div">
        <mat-form-field>
          <mat-label>Memoria</mat-label>
            <input matInput type="number" placeholder="Memoria" disabled>
        </mat-form-field>
      </div>
    </div>
    <div class="inputFile">
      <input type="file" class="fileInput" (change)='onFileSelected($event)' #fileUpload >
      <div class="file-upload">

        <button mat-mini-fab color="primary" class="upload-btn"
          (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
        {{fileName || "Upload file .ch"}}

     </div>
    </div>
    <mat-card>
      <div class="periferics">
        <div class="monitor">
          <div class="monitor__text">
            <p> I am a monitor aaaaaaaaaaaa</p>
          </div>
        </div>
        <div class="print">
          <div class="print__icon">
            <span class="material-icons">
              print
              </span>
          </div>
          <div class="print__title">
            print
          </div>
          <div class="print__text">
            Area de texto
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</main>
